@import "src/mixins";
@import "src/variables";
@import "src/media-queries";

.menu-nav {
  display: flex;
  padding: 0;
  width: 100%;
  justify-content: space-between;

  li {
    list-style: none;
    margin-right: 40px;
    position: relative;
    left: 0;
  }

  a {
    text-decoration: none;
  }


  li:hover a {
    color: $blue;
    cursor: pointer;
  }
}

.menu-right,.menu-left{
  display: flex;
}

.menu-link {
  @include mainFonts(18px, #000);
  text-decoration: none;
  height: 100%;
  transition: .2s;
}

//------------------------Media 1024px------------------------

@include max-screen(1023px) {
  .menu-link {
    display: none;
  }
}